@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.projects-coming{
    width: 100%;
}
.projects-grid {
    width: 100%;
    &__container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        //gap: $spacing-15;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr; // Mobile-first: single column
        gap: $spacing-15; // Mobile-first: smaller gap
        width: 100%;
        max-width: 1380px;

        @media (min-width: $breakpoint-phone) {
            grid-template-columns: repeat(2, 1fr);
            gap: $spacing-15;
        }
        
        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(3, 1fr);
             gap: $spacing-30;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        //gap: $spacing-15;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        @include responsive-border-radius;
        display: block;
    }
}
