@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
    align-self: stretch;
    width: 100%;
    height: auto;
    @include responsive-border-radius;
    background-image: url("/assets/images/hero-background.png");
    background-size: cover;
    background-position: center;
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-15;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
        @include flex-column;
        justify-content: center;
        align-items: center;
        gap: $spacing-15;
    }

    &__content {
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        gap: $spacing-15;
        width: 100%;
    }

    &__social {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $spacing-30;

        &-icon {
            width: $spacing-30;
            height: $spacing-30;
            position: relative;
            overflow: hidden;
            &:hover {
                opacity: 0.5;
            }
            transition: opacity 0.3s ease;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
    }

    &__location {
        align-self: stretch;
        text-align: center;
        color: $white;
        line-height: $spacing-30;
        word-wrap: break-word;
        margin: 0;
    }

    &__legal {
        align-self: stretch;
        text-align: center;
        color: $white;
        line-height: $spacing-30;
        word-wrap: break-word;
        margin: 0;

        &-link {
            color: $white;
            text-decoration: none;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.8;
            }
        }

        &-separator {
            color: $white;
        }
    }
}
