@import "../../../styles/variables";
@import "../../../styles/mixins";

.package-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;
  border-radius: $border-radius-desktop;
  flex: 1;
  background-color: $gray-30;
  
  @include media-phone-up {
    min-height: 600px;
  }
  
  @include media-tablet-up {
    min-height: 650px;
    height: -webkit-fill-available;
  }

  &--popular {
    border: 3px solid $primary-color;
  }

  &__header {
    border-radius: $border-radius-mobile;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
    @include media-tablet-up {
      border-radius: $border-radius-tablet;
      gap: 12px;
    }
  }

  &__title-row {
    @include flex-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__pricing {
    display: flex;
    flex-direction: column;
  }

  &__features {
    padding: $spacing-15;
    background: $white;
    border-radius: $border-radius-mobile;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
    @include media-tablet-up {
      border-radius: $border-radius-tablet;
    }
  }

  &__features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    @include media-tablet-up {
      //gap: 9px;
    }
  }

  &__feature-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    
    @include media-tablet-up {
      gap: 6px;
    }
  }

  &__check-icon {
    flex-shrink: 0;
    @include flex-center;
    width: fit-content;
  }

  
}
