@import "../../styles/variables";
@import "../../styles/mixins";

// Service Item Layout - Mobile First
.service-item {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;
  
  @include media-tablet-up {
    flex-direction: row;
    gap: $spacing-30;
    align-items: center;
  }
  
  // Reverse layout for alternating pattern on desktop/tablet
  &--reverse {
    @include media-tablet-up {
      flex-direction: row-reverse;
    }
  }
}

// Service Image
.service-image-wrapper {
  width: 100%;
  
  @include media-tablet-up {
    flex: 1;
    max-width: 50%;
  }
}

.service-image {
  width: 100%;
  height: auto;
  @include responsive-border-radius;
  object-fit: cover;
  
  // Fixed aspect ratio
  aspect-ratio: 1 / 1;
}

// Service Content
.service-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  @include media-tablet-up {
    flex: 1;
    gap: $spacing-10;
  }
  
  // Right-aligned content for alternating layout
  &--right {
    @include media-tablet-up {
      align-items: flex-end;
      text-align: right;
    }
  }
}

// Service Icon
.service-icon {
  
  background: $primary-color-light;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
    height: 30px;
  @include media-tablet-up {
    width: 48px;
  height: 48px;
  }
  
  &__placeholder {
    width: 24px;
    height: 24px;
    @include media-tablet-up {
    width: 30px;
    height: 30px;
  }
  
  }
  
  img, image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Right-aligned text for alternating layout
.service-title--right,
.service-description--right {
  @include media-tablet-up {
    text-align: right;
  }
}
